* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   	border: 1px solid red;

}
/* image resizing */
img {
  max-width: 100px;
  height: auto;
}

.container-1 {
background-color: #5995DA;
}

.navbar {
	display: flex;
	justify-content: center;
	padding: 20px 0;
	justify-content: space-around;


}

.links {
	display: flex;	
    justify-content: space-between;
    gap: 15px;

}

.sec1-content-container {
	margin-top: 50px;
	display: flex;
	justify-content: space-around;

}

.hero-main {
	font-size: 48px;
	width: 300px;
}

.hero-secondary {
	font-size: 18px;
	width: 500px;
}

.section-2 { 
	padding-bottom: 45px;
 }

.image_placeholder {
 width: 200px;
 padding-bottom: 30px;
}

.header-section-2 {
	display: flex;	
	justify-content: center;
}

.random-images-container {
  display: flex;	
  gap: 8px;

}

.header-section-2 {
	padding: 15 0 15 0;
	font-size: 28px;
}

.random_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}